body{
    background-color: rgb(18, 14, 32);
}
#heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 100px;
    margin:0;
    height: 300px;
}
.container{  
    margin:0;
    padding: 0; 
    height: 500px; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
  
.boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.drum, button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: 2px solid black;
    background-color: grey;
    padding: 0px 20px;
    margin: 0 30px;
    border-radius: 30%;
}

.keyType{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(18, 14, 32);
    color: white;
    margin: 15px;
    width: 100%;
    border-radius: 40%;
}
.drum:hover{
    box-shadow: 0 10px 10px 0 rgba(152, 161, 13, 0.24), 0 10px 10px 0 rgba(152, 161, 13, 0.24);
}
.drum:active {
    background-color: rgba(119, 116, 116, 0.685);
    box-shadow: 0 15px 15px 0 rgba(152, 161, 13, 0.24), 0 15px 50px 0 rgba(152, 161, 13, 0.24);
    transform: translateY(5px);
}
@media screen and (max-width: 480px){
    body{
        display: flex;
        flex-direction: column; 
        padding: 0;
        margin: 0x;
    }
    .heading{
        text-align: center;
        font-size: 50px;
    }
    .container{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        margin: 0 0 5px 0;
    }
    .boxes{
        align-items: center;
        margin:5px 0;
    } 